.padSitePanel selector {
	color: none;
}

.colorSquare {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	padding: 3px;
	margin: 3px;
	border: solid 1px grey;
	float: left;
}

.editbar {
	height: 20px;
	padding: 10px;
	background-color: #E3E4FA;
}

#editor {
	height: 100px;
	padding: 10px;
	margin: 10px;
	border: solid 1px grey;
	overflow: auto;
	background-col, inputor: #FFFFFF;
	visibility: display;
	text-wrap: suppress;
	color: white;
}

div#editor:focus {
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
	outline: none;
}

#editor span {
	margin-left: 0px;
	margin-right: 0px;
	white-space: pre;	/* provides that multiple spaces are not compressed into one */
	font-family: arial;
}

.cl66CCFF { background-color: #66CCFF; }
.clFF0000 { background-color: #FF0000; }
.cl00FF00 { background-color: #00FF00; }
.clFFFF00 { background-color: #FFFF00; }
.cl00FFFF { background-color: #00FFFF; }
.clFF00FF { background-color: #FF00FF; }
.clC0C0C0 { background-color: #C0C0C0; }

#carret {
	text-decoration: blink;
	background-image: url("../images/blacklinecaret.png");
	border-style: solid;
	border-color: black;
	border-width: 0 0 0 1px;
	width: 0px;
}

div.padListBody div {
	padding: 5px;
}
	
div.padListBody {
	padding: 5px;
	margin: 5px;
}

.padListBody table {
	border: 1px solid grey;
}

.padListBody table thead {
	font-weight: normal;
}

.padListBody table tbody {
	background-color: #F2F2F2;
	font-style: italic;
	font-weight: normal;
}

.padListBody table tbody tr {
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: grey;
	margin: 0px;
}

.padListBody table tbody tr td {
	border: 0px;
	padding: 10px;
	margin: 0px;
}

.padSitePanel a:active {
	outline: none;
}

.padListBody table tbody tr td a {
	margin: 0;
	padding: 5px;
}

.padListBody table tbody tr:hover {
	background: -webkit-linear-gradient(#fff, #ccc);
	background: -moz-linear-gradient(#fff, #ccc);
	background: -ms-linear-gradient(#fff, #ccc);
	background: -o-linear-gradient(#fff, #ccc);
}

.padListBody table tbody td.padName a:hover {
	text-decoration: underline;
}

td.delete:hover {
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .8);
	background: -webkit-linear-gradient(#ccc, #999);
	background: -moz-linear-gradient(#ccc, #999);
	background: -ms-linear-gradient(#ccc, #999);
	background: -o-linear-gradient(#ccc, #999);
}

td.lock:hover {
	font-weight: bold;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .8);
	background: -webkit-linear-gradient(#ccc, #555);
	background: -moz-linear-gradient(#ccc, #555);
	background: -ms-linear-gradient(#ccc, #555);
	background: -o-linear-gradient(#ccc, #555);
}

.padInfoTab {
	padding: 10px;
	margin: 5px;
}

.padInfo {
	vertical-align: top;
	padding-left: 5px;
	margin-left: 5px;
	height: 100%;
	width: 100px;
}

.padForm .popupSessionList {
	padding: 5px;
	position:absolute;
	background-color:rgb(240,240,240);
    border:1px solid grey;
	border-radius: 5px;
	z-index:999;
    float:left;
}

.popupSessionList a {
	margin: 0 5px;
	padding: 3px;
}

.popupSessionList a:hover {
	border-radius: 3px;
	background-color: #FAFAFA;
}

.padInfo .chooseColorPanel {
	padding: 5px;
	width: 120px;
	position:absolute;
	background-color:rgb(240,240,240);
    border:1px solid grey;
	border-radius: 5px;
	z-index:999;
    float:left;
}

.padInfo .colorItem {
	margin: 0 5px;
	padding: 0;
}

.padInfo .colorItem:hover {
	margin: 0 5px;
	padding: 0;
	border-radius: 5px;
	background-color: #FAFAFA;
}

.padUsers {
	border-left: 1px solid grey;
	padding-left: 5px;
	margin-left: 5px;
	height: 100%;
}

.padUsers span {
	vertical-align: top;
	padding: 5px;
	margin: 5px;
}

.padInfo tbody td {
	padding-left: 5px;
}

.activePadUsers {
	float: left;
}

.activePadUsersTable td {
	vertical-align: middle;
	padding-left: 5px;
}

.topLabel span {
	margin: 3px;
}

.userColor td {
	height: 100%;
	vertical-align: middle;
}

.userColor.label,.userColor.name {
	vertical-align: middle;
}

.padBar {
	width: 30%;
	padding: 5px;
	margin: 5px;
	float: right;
}

.createPadTogglePanel div {
	margin: 5px 5px;
}

.focusedPanel div {
	margin: 5px 10px;
	padding: 0 10px;
	background-color:rgb(240,240,240);
    border:1px solid grey;
	border-radius: 5px;
	z-index:999;
}

.left {
	float: left;
}

.right {
	float: right;
}

a.buttonLink, input.buttonLink {
	background-color: #D5D5D5;
	padding: 3px;
	margin: 5px;
	border: 1px solid grey;
	border-radius: 5px;
}

a.buttonLink:hover, input.buttonLink:hover {
	background: -webkit-linear-gradient(#fff, #D5D5D5);
	background: -moz-linear-gradient(#fff, #D5D5D5);
	background: -ms-linear-gradient(#fff, #D5D5D5);
	background: -o-linear-gradient(#fff, #D5D5D5);
}

.heading {
	width: 50%;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: grey;
	padding: 5px;
	margin: 10px;
	font-style: italic;
}

.statusPanel {
	padding-left: 5px;
	margin-left: 10px;
}

.userHeading {
	width: 10%;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: grey;
	text-align: right;
	padding: 5px;
	margin: 10px;
	float: right;
	font-style: italic;
}

.padFooterL {
	margin-left: 10px;
}

.padFooterR {
	float: right;
	margin-right: 10px;
}

span.userName {
	float: left;
}

.error {
	padding: 10px;
	color: red;
	font-weight: bold;
	font-style: italic;
}

.help {
	padding: 10px;
	color: blue;
	font-weight: bold;
	font-style: italic;
}

.padSitePanel {
	height: 100%;
	padding: 5px;
	background-color: #FAFAFA;
	border: 1px solid grey;
	border-radius: 5px;
}

.readonly {
	color: grey;
}

td.date {
	text-align: center;
}

td.delete {
	width: 35px;
	text-align: center;
}

td.lock {
	width: 50px;
	text-align: center;
}
thead.name,thead.padName {
	text-align: left;
}